besties-ai-n8n-workflow.json
{
  "name": "Besties AI — Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besties-kb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0001",
      "name": "Webhook: Save",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "besties-kb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0002",
      "name": "Webhook: Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — KnowledgeBase",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":  "={{ $json.body.ts || new Date().toISOString() }}",
            "Session ID": "={{ $json.body.session }}",
            "Type":       "={{ $json.body.type }}",
            "Text":       "={{ $json.body.text }}"
          }
        },
        "options": {}
      },
      "id": "node-0004",
      "name": "Sheets: Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [720, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0005",
      "name": "Respond: Saved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — KnowledgeBase",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "returnAll": true
        }
      },
      "id": "node-0006",
      "name": "Sheets: Read All",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queryData = $input.first()?.json?.query || {};\nconst sessionFilter = queryData.session || '';\nconst limitParam = parseInt(queryData.limit || '20', 10);\n\nconst rows = $input.all().map(r => r.json);\n\nconst filtered = sessionFilter\n  ? rows.filter(r => r['Session ID'] === sessionFilter)\n  : rows;\n\nconst sttOnly = filtered\n  .filter(r => r['Type'] === 'stt')\n  .slice(-limitParam);\n\nconst contextText = sttOnly\n  .map(r => r['Text'])\n  .join('\\n');\n\nreturn [{\n  json: {\n    ok: true,\n    count: filtered.length,\n    sttCount: sttOnly.length,\n    session: sessionFilter || 'all',\n    contextText,\n    kb: filtered.map(r => ({\n      ts:      r['Timestamp'],\n      session: r['Session ID'],\n      type:    r['Type'],\n      text:    r['Text']\n    }))\n  }\n}];"
      },
      "id": "node-0007",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0008",
      "name": "Respond: KB Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 460]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besties-sessions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0009",
      "name": "Webhook: Save Session",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 720]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — Sessions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Session ID": "={{ $json.body.session }}",
            "Team Name":  "={{ $json.body.teamName }}",
            "Created At": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "node-0010",
      "name": "Sheets: Append Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 720],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, session: $('Webhook: Save Session').first().json.body.session, teamName: $('Webhook: Save Session').first().json.body.teamName }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0011",
      "name": "Respond: Session Saved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 720]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "besties-sessions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0012",
      "name": "Webhook: List Sessions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 980]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — Sessions",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "returnAll": true
        }
      },
      "id": "node-0013",
      "name": "Sheets: Read Sessions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 980],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst sessions = rows.map(r => ({\n  session:   r['Session ID'],\n  teamName:  r['Team Name'],\n  createdAt: r['Created At']\n}));\nreturn [{ json: { ok: true, count: sessions.length, sessions } }];"
      },
      "id": "node-0014",
      "name": "Format Sessions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 980]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0015",
      "name": "Respond: Sessions List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 980]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Save": {
      "main": [
        [{ "node": "Sheets: Append", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Append": {
      "main": [
        [{ "node": "Respond: Saved", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Query": {
      "main": [
        [{ "node": "Sheets: Read All", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Read All": {
      "main": [
        [{ "node": "Build Context", "type": "main", "index": 0 }]
      ]
    },
    "Build Context": {
      "main": [
        [{ "node": "Respond: KB Data", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Save Session": {
      "main": [
        [{ "node": "Sheets: Append Session", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Append Session": {
      "main": [
        [{ "node": "Respond: Session Saved", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: List Sessions": {
      "main": [
        [{ "node": "Sheets: Read Sessions", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Read Sessions": {
      "main": [
        [{ "node": "Format Sessions", "type": "main", "index": 0 }]
      ]
    },
    "Format Sessions": {
      "main": [
        [{ "node": "Respond: Sessions List", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "besties-ai-kb-workflow",
  "tags": ["besties", "knowledge-base"]
}
