besties-ai-n8n-workflow.json
{
  "name": "Besties AI — Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besties-kb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0001",
      "name": "Webhook: Save",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "besties-kb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0002",
      "name": "Webhook: Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — KnowledgeBase",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":  "={{ $json.body.ts || new Date().toISOString() }}",
            "Session ID": "={{ $json.body.session }}",
            "Type":       "={{ $json.body.type }}",
            "Text":       "={{ $json.body.text }}"
          }
        },
        "options": {}
      },
      "id": "node-0004",
      "name": "Sheets: Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [720, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0005",
      "name": "Respond: Saved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — KnowledgeBase",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "returnAll": true
        }
      },
      "id": "node-0006",
      "name": "Sheets: Read All",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queryData = $input.first()?.json?.query || {};\nconst sessionFilter = queryData.session || '';\nconst limitParam = parseInt(queryData.limit || '20', 10);\n\nconst rows = $input.all().map(r => r.json);\n\nconst filtered = sessionFilter\n  ? rows.filter(r => r['Session ID'] === sessionFilter)\n  : rows;\n\n// ข้อมูลโครงการล่วงหน้า (project_brief / workshop)\nconst briefRows = filtered.filter(r =>\n  r['Type'] === 'project_brief' || r['Type'] === 'workshop'\n);\nconst briefText = briefRows.map(r => r['Text']).join('\\n');\n\n// การนำเสนอสด\nconst sttOnly = filtered\n  .filter(r => r['Type'] === 'stt')\n  .slice(-limitParam);\nconst sttText = sttOnly.map(r => r['Text']).join('\\n');\n\nconst contextText =\n  (briefText ? '[ข้อมูลโครงการล่วงหน้า]\\n' + briefText + '\\n\\n' : '') +\n  (sttText  ? '[การนำเสนอสด]\\n' + sttText : '');\n\nreturn [{\n  json: {\n    ok: true,\n    count: filtered.length,\n    sttCount: sttOnly.length,\n    briefCount: briefRows.length,\n    session: sessionFilter || 'all',\n    contextText,\n    kb: filtered.map(r => ({\n      ts:      r['Timestamp'],\n      session: r['Session ID'],\n      type:    r['Type'],\n      text:    r['Text']\n    }))\n  }\n}];"
      },
      "id": "node-0007",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0008",
      "name": "Respond: KB Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 460]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besties-sessions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0009",
      "name": "Webhook: Save Session",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 720]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — Sessions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Session ID": "={{ $json.body.session }}",
            "Team Name":  "={{ $json.body.teamName }}",
            "Created At": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "node-0010",
      "name": "Sheets: Append Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 720],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, session: $('Webhook: Save Session').first().json.body.session, teamName: $('Webhook: Save Session').first().json.body.teamName }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0011",
      "name": "Respond: Session Saved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 720]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "besties-sessions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0012",
      "name": "Webhook: List Sessions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 980]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Besties AI — Sessions",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "returnAll": true
        }
      },
      "id": "node-0013",
      "name": "Sheets: Read Sessions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 980],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst sessions = rows.map(r => ({\n  session:   r['Session ID'],\n  teamName:  r['Team Name'],\n  createdAt: r['Created At']\n}));\nreturn [{ json: { ok: true, count: sessions.length, sessions } }];"
      },
      "id": "node-0014",
      "name": "Format Sessions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 980]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0015",
      "name": "Respond: Sessions List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 980]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besties-jury",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0020",
      "name": "Webhook: Save Jury Score",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 1460]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jury Scores",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Session ID":        "={{ $json.body.session }}",
            "Judge Name":        "={{ $json.body.judgeName }}",
            "Business Impact":   "={{ $json.body.businessImpact }}",
            "AI Fit":            "={{ $json.body.aiFit }}",
            "Data Feasibility":  "={{ $json.body.dataFeasibility }}",
            "Workflow Adoption": "={{ $json.body.workflowAdoption }}",
            "Risk Scalability":  "={{ $json.body.riskScalability }}",
            "Comment":           "={{ $json.body.comment }}",
            "Submitted At":      "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "node-0021",
      "name": "Sheets: Append Jury Score",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 1460],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, session: $('Webhook: Save Jury Score').first().json.body.session, judgeName: $('Webhook: Save Jury Score').first().json.body.judgeName }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0022",
      "name": "Respond: Jury Saved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 1460]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "besties-jury",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-0016",
      "name": "Webhook: Jury Scores",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 1220]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1dd45yr9_ceioBxb6E6mQ-XQydVug77V4Ti5fFvdCB1o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jury Scores",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Session ID",
              "lookupValue": "={{ $json.query.session }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-0017",
      "name": "Sheets: Read Jury Scores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 1220],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const rows = items.map(i => i.json);\n// Column names ใน Google Sheet (รองรับทั้งภาษาไทยและ key ย่อ)\nconst pick = (r, ...keys) => { for (const k of keys) { if (r[k] !== undefined && r[k] !== null && r[k] !== '') return Number(r[k]) || 0; } return 0; };\nconst judges = rows.map(r => ({\n  name:             r['Judge Name'] || r['ชื่อกรรมการ'] || r['name'] || '',\n  business_impact:  pick(r, 'Business Impact', 'business_impact', 'ปัญหาชัดเจนและผลกระทบ'),\n  ai_fit:           pick(r, 'AI Fit', 'ai_fit', 'ความเหมาะสมของ AI'),\n  data_feasibility: pick(r, 'Data Feasibility', 'data_feasibility', 'ข้อมูลและความเป็นไปได้', 'Feasibility'),\n  workflow_adoption:pick(r, 'Workflow Adoption', 'workflow_adoption', 'การนำไปใช้จริง', 'Adoption'),\n  risk_scalability: pick(r, 'Risk Scalability', 'risk_scalability', 'ความปลอดภัยและการขยายผล', 'Risk'),\n  comment:          r['Comment'] || r['ความเห็น'] || r['comment'] || '',\n  total:            Number(r['Total'] || r['คะแนนรวม'] || 0) ||\n    (pick(r,'Business Impact','business_impact') +\n     pick(r,'AI Fit','ai_fit') +\n     pick(r,'Data Feasibility','data_feasibility','Feasibility') +\n     pick(r,'Workflow Adoption','workflow_adoption','Adoption') +\n     pick(r,'Risk Scalability','risk_scalability','Risk'))\n}));\n// คำนวณ weighted score (30/20/20/20/10)\nconst weighted_fields = [\n  { key: 'business_impact',   w: 0.30 },\n  { key: 'ai_fit',            w: 0.20 },\n  { key: 'data_feasibility',  w: 0.20 },\n  { key: 'workflow_adoption', w: 0.20 },\n  { key: 'risk_scalability',  w: 0.10 },\n];\njudges.forEach(j => {\n  j.weighted_score = Math.round(weighted_fields.reduce((s,f) => s + (j[f.key]||0) * f.w * 10, 0) * 10) / 10;\n});\nconst allKeys = ['business_impact','ai_fit','data_feasibility','workflow_adoption','risk_scalability','total','weighted_score'];\nconst averages = {};\nallKeys.forEach(k => {\n  averages[k] = judges.length ? Math.round((judges.reduce((s,j) => s+(j[k]||0), 0) / judges.length) * 10) / 10 : 0;\n});\nreturn [{ json: { session: $('Webhook: Jury Scores').first().json.query.session, judges, averages } }];"
      },
      "id": "node-0018",
      "name": "Format Jury Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 1220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-0019",
      "name": "Respond: Jury Scores",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 1220]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Save": {
      "main": [
        [{ "node": "Sheets: Append", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Append": {
      "main": [
        [{ "node": "Respond: Saved", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Query": {
      "main": [
        [{ "node": "Sheets: Read All", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Read All": {
      "main": [
        [{ "node": "Build Context", "type": "main", "index": 0 }]
      ]
    },
    "Build Context": {
      "main": [
        [{ "node": "Respond: KB Data", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Save Session": {
      "main": [
        [{ "node": "Sheets: Append Session", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Append Session": {
      "main": [
        [{ "node": "Respond: Session Saved", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: List Sessions": {
      "main": [
        [{ "node": "Sheets: Read Sessions", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Read Sessions": {
      "main": [
        [{ "node": "Format Sessions", "type": "main", "index": 0 }]
      ]
    },
    "Format Sessions": {
      "main": [
        [{ "node": "Respond: Sessions List", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Save Jury Score": {
      "main": [
        [{ "node": "Sheets: Append Jury Score", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Append Jury Score": {
      "main": [
        [{ "node": "Respond: Jury Saved", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Jury Scores": {
      "main": [
        [{ "node": "Sheets: Read Jury Scores", "type": "main", "index": 0 }]
      ]
    },
    "Sheets: Read Jury Scores": {
      "main": [
        [{ "node": "Format Jury Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Jury Response": {
      "main": [
        [{ "node": "Respond: Jury Scores", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "besties-ai-kb-workflow",
  "tags": ["besties", "knowledge-base"]
}
